/*Services jen*/
.banniere  {
    height:300px;
   background-image: url(../img/banniereService.jpg);
}
.serviceDoc{  
    background: linear-gradient(to left, #0099ff 0%, #000066 100%);
    display: flex;
    flex-direction: row;
    margin: 30px;
    
}

.serviceSeul{
    position: relative;
 
}
.serviceSeul h2{
    top: 0;
    left: 0;
    margin: 25px;
}
.serviceSeul p{
    margin-top: 20px;
}

.docteur {
    text-align: center;
    color: white;
    font-size: medium;
    margin-bottom: 20px;
}
.docteur img{
    background-color: white;
    border-radius: 50%;
    width: 150px;
    margin: 30px auto 20px auto;
}


 h2{
    text-align: center;
    color: white;
   

}
#titi{
    
}
 h1 {
    text-align: center;
    color: white;
    font-size: medium;
 }
 p{
    text-align: center;
    color: white;
    font-size: medium;
 }
 /*contact jen*/
 #infoContact{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:1fr 2fr 1fr ;
    grid-template-areas:
    "inf  inf"
    "ho map"
    "part part" ;
 }
#info {
    grid-area: inf;
}
#horaireContac{
    grid-area: ho;
}
#map{
    grid-area: map;
}
#partenaire{
    grid-area: part;
}