* {
    font-family: sans-serif;
}


body {
    margin: 0px;  
}


a {
    font-family: sans-serif;
}




/*Services jen*/

.banniere  {
    height:300px;
   background-image: url(../img/banniereService.jpg);
}
.serviceDoc{  
    background: linear-gradient(90deg, #2D3672 18.75%, #518AC8 100%);
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    margin: 30px;
    
}

.docteur {
    text-align: center;
    color: white;
    font-size: medium;
    margin: 20px;
}
.imgService {
    background-color: white;
    border-radius: 50%;
    width: 150px;
    margin: 30px auto 20px auto;
}


 h2{
    text-align: center;
    color: white;
   

}
#titi{
    text-align: center;
    margin-top: 15px;
    color: #2D3672;
    font-size: 1.5em;
    
}
 h1 {
    text-align: center;
    color: white;
    font-size: medium;
 }
 p{
    text-align: center;
    color: white;
    font-size: medium;
    padding: 2%;
 }
 /*contact jen*/
 #infoContact{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:1fr 2fr 1fr ;
    grid-template-areas:
    "inf  inf"
    "ho map"
    "part part" ;
 }
#info {
    grid-area: inf;
}
#horaireContac{
    grid-area: ho;
}
#map{
    grid-area: map;
}
#partenaire{
    grid-area: part;
}